@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Palette "Urban Feast" */
    --primary-color: #324B6D;
    --secondary-color: #6A994E;
    --accent-color: #D66853;
    --complementary-blue: #496A81;
    --complementary-green: #A1C181;
    --complementary-peach: #F2A477;
    --text-dark: #2F3842;
    --text-medium: #7D8792;
    --background-light: #EFF1F3;
    --background-white: #F8F7F2;
    --success-color: #6A994E;
    --error-color: #D66853;
    --info-color: #5190CD;
    --warning-color: #FFB238;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-light);
    min-height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
